@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
    --foreground: #ededed;

  --cardbackground: #282828; 
  --cardforeground: #717171; 

  --buttonbackground: #704ac2;
  --buttonbackgroundhover: #8B5CF6;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.animate-spin {
  animation: spin 0.9s linear infinite;
}